<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>znd</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script data-main="app/config.dev" src="bower_components/requirejs/require.js"></script>

  <script type="text/template" class="template" id="tpl-controls">
			<ul class="list">
      <% _.each(model, function(item) {%>
        <li data-series="<%= item.seriesName %>" class="company active"><!-- active hidden group -->
      		<label style="color: white;">
      			<input type="checkbox">
            <b style="color: <%= item.color %>">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 12 12" enable-background="new 0 0 12 12" xml:space="preserve">
                <circle cx="6" cy="6" r="6" fill="<%= item.color %>"></circle>
              </svg>
              <%= item.seriesName %>
              <i><%= item.aggregatedCount %></i>
              <br/><%= item.percentage %>%
            </b>
            <%= item.sum %>
      		</label>
      	</li>
      <% }); %>
      <li class="desktop">
    		<a href="#" id="break-group" class="icon">
          Zobraziť všetky
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/3rd-party/svg/sprite.svg#show-more"></use></svg>
        </a>
    		<a href="#" id="join-group" class="icon">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/3rd-party/svg/sprite.svg#show-less"></use></svg>
          Zobraziť menej
        </a>
    	</li>
    </ul>
  </script>

  <script type="text/template" class="template" id="tpl-navig-desktop">
    <div class="navigation" id="navig-desktop">
        <div class="pan back"><span><svg>
            <use width="60%" height="60%" x="10" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/3rd-party/svg/sprite.svg#year-prev"></use>
          </svg></span></div>
        <div class="pan forward"><span><svg >
            <use width="60%" height="60%" x="5" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/3rd-party/svg/sprite.svg#year-next"></use>
          </svg></span></div>
    </div>
  </script>


  <script type="text/template" class="template" id="tpl-navig-mobile">
    <div class="navigation" id="navig-mobile">
    <div id="years" class="block">
      <div class="block back">
        <% if (prevYear) { %><a class="icon">
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/3rd-party/svg/sprite.svg#year-prev"></use>
          </svg><%= prevYear %>
        </a><% } %>
      </div>
      <h3><%= currentYear %> <br/> <i><%= currentTotal %></i></></h3>

      <div class="block forward">
         <% if (nextYear) { %><a class="icon"><%= nextYear %>
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/3rd-party/svg/sprite.svg#year-next">
            </use>
          </svg>
        </a><% } %>
      </div>
    </div>
    </div>
  </script>

  <script type="text/template" class="template" id="tpl-tooltip">
    <ul>
      <% _.each(model, function(itemData) {%>
      <li>
        <span class="bullet" style="color: <%= itemData.color %>"><span>&#8226;</span></span>
        <em class="company"><%= itemData.company %></em>
        <span class="amount"><%= itemData.amount %></span>
      </li>
      <% }); %>
    </ul>
  </script>

  <link href="bower_components/c3/c3.css" rel="stylesheet" type="text/css">
  <link href="app/graph.css?bust=8" rel="stylesheet" type="text/css">
  <link href="app/3rd-party/style.css?bust=8" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
  <div style="padding: 20px">
    <div id="pie"></div>
    <div id="graph" class="znd-graph">
      <h3 class="bar-title heading">Celkový objem tendrov</h3>
      <div class="bar"></div>
      <h3 class="timeline-title heading">Účinkovanie osoby vo firmách v jednotlivých rokoch</h3>
      <div class="navigable">
        <div class="area"></div>
        <div class="timeline">
          <div class="d3-tip d3-tip-custom n"></div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>
