<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>zoomable c3-based graph</title>
  <script type="text/javascript">
    window.requireTestMode = true;
  </script>
  <script data-main="app/config" src="bower_components/requirejs/require.js"></script>
  
  <script type="text/template" class="template" id="tpl-navig-desktop">
    <div class="navigation" id="navig-desktop">        
        <div class="pan back"><span>&lt;</span></div>
        <div class="pan forward"><span>&gt;</span></div>
    </div>
  </script>


  <script type="text/template" class="template" id="tpl-navig-mobile">
    <div class="navigation" id="navig-mobile">        
        <div class="pan back"><span>&lt;</span></div>
        <div class="pan forward"><span>&gt;</span></div>
    </div>
  </script>

  <script type="text/template" class="template" id="tpl-tooltip">
    <ul>
      <% _.each(model, function(itemData) {%>
      <li>
        <span class="bullet" style="color: <%= itemData.color %>"><span>&#8226;</span></span>        
        <em class="company"><%= itemData.company %></em>
        <span class="amount"><%= itemData.amount %></span>
      </li>
      <% }); %>
    </ul>
  </script>

  <link href="bower_components/c3/c3.css" rel="stylesheet" type="text/css">
  <link href="app/graph.css?bust=8" rel="stylesheet" type="text/css">
  <link href="app/3rd-party/style.css?bust=8" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="pie"></div>
  <div id="graph" class="znd-graph">
    <div class="bar"></div>
    <div class="navigable">
      <div class="area"></div>
      <div class="timeline">
        <div class="d3-tip d3-tip-custom n">Toto je popiska kurzora.</div>
      </div>    
    </div>

  </div>
</body>
</html>
